{% extends "navbar.html" %} {% block content %} {% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>EMPLOYEE DETAILS </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">



    <body class="bg-img background-image:url({% static 'img\bgtable.jpg' %});">

        <link rel="stylesheet " type="text/css " href="{% static 'employeedetails.css' %} "></link>


        <div class="name ">
            <h1>EMPLOYEE DETAILS :</h1>
        </div>
        <table class="emp ">

            <tr>
                <th style="width:15% ">EMPLOYEE_ID</th>
                <th>NAME</th>
                <th>WAGES</th>
                <th>ADDRESS</th>
                <th>PHONE_NO</th>
            </tr>

            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>

        </table>
        <div class="button ">
            <button>ADD</button>
            <button id="button2 ">DELETE</button>
        </div>

    </body>


</html>
{% endblock %}