{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'img\icons.png' %}" type="image/x-icon "></link>
    <link rel="stylesheet " type="text/css " href="{% static 'navbar.css' %} "></link>

</head>

<body>


    <div class="navbar">
        <ul>
            <li>
                <a href="/index">HOME</a>
            </li>

            <li>
                <a href="/employeedetails">EMPLOYEE DETAILS</a>
            </li>

            <li> <a href="/products">SERVICES AND PRODUCTS</a>
            </li>

            <li>
                <a href="/order">BUY</a>
            </li>

            <li>
                <a href="login">LOGOUT</a>
            </li>

        </ul>

    </div>
    <div class="body-content">
        {% block content %} {% endblock %}
    </div>

</body>