{% extends "navbar.html" %} {% block content %} {% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>services</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="{% static 'services.css' %}"></link>

</head>

<body class="bg-img1 background-image:url({% static 'img\bgp.jpg' %});">

    <header>
        <h1>SERVICES AVAILABLE</h1>
        <h5>want to buy our products?</h5>
        <button class="btn">PRODUCTS</button>
    </header>
    <div class="grid-container">
        <div class="card">
            <img src="{% static 'img/bouquet.jpg' %}" class="bg-img" width="100%">

            <div class="content">
                <h4>bouquet</h4>
                <p>Price starts from = &#8360; <span style="color: red; font-weight: bold;">150</span></p>
                <button>BUY</button>
            </div>
        </div>
        <div class="card">
            <img src="{% static 'img/basket.jpg' %}" class="bg-img" width="100%">

            <div class="content">
                <h4>Flower Basket </h4>
                <p>Price starts from = &#8360; <span style="color: red; font-weight: bold;">250</span></p>
                <button>BUY</button>
            </div>
        </div>
        <div class="card">
            <img src="{% static 'img/garland.jpg' %}" class="bg-img" width="100%">

            <div class="content">
                <h4>Garland</h4>
                <p>Price starts from = &#8360; <span style="color: red; font-weight: bold;">100</span></p>
                <button>BUY</button>
            </div>
        </div>
        <div class="card">
            <img src="{% static 'img/wreath.jpg' %}" class="bg-img" width="100%">

            <div class="content">
                <h4>Wreath</h4>
                <p>Price starts from = &#8360; <span style="color: red; font-weight: bold;">150</span></p>
                <button>BUY</button>
            </div>
        </div>
        <div class="card">
            <img src="{% static 'img/dry_flower.jpg' %}" class="bg-img" width="100%">

            <div class="content">
                <h4>Dry Flower Collection</h4>
                <p>Price starts from = &#8360; <span style="color: red; font-weight: bold;">950</span></p>
                <button>BUY</button>
            </div>
        </div>
</body>

</html>
{% endblock %}